<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TagGroupMapper">
    <select id="queryTagGroupList" resultType="com.example.entity.TagGroup">
        select * from tagGroup;
    </select>
    <select id="SearchTagGroup" resultType="com.example.entity.TagGroup">
        select * from tagGroup  where  tagGroupName like #{tagGroupName};
    </select>
    <insert id ="InsertTagGroup" parameterType="com.example.entity.TagGroup">
        insert into tagGroup( tagGroupName) values(#{tagGroupName})
    </insert>
    <update id="UpdateTagGroup" parameterType="com.example.entity.TagGroup">
        update tagGroup set  tagGroupName = #{tagGroupName} where tagGroupId = #{tagGroupId} or tagGroupName = #{tagGroupName}
    </update>
    <delete id="deleteTagGroup" parameterType="java.lang.String">
        DELETE FROM tagGroup WHERE tagGroupId = #{tagGroupId};
    </delete>
</mapper>